<header class="header">
  <img class="header-logo"
       alt="Logo"
       src="assets/theme/logo.svg">

  <div class="header-actions">
    <img class="header-actions-indent"
         alt="缩进"
         src="assets/theme/indent.svg">

    <div class="header-actions-sep"></div>

    <div class="switch header-actions-switch">
      Platform switching
      <img class="switch-arrow-down"
           alt="向下"
           src="assets/theme/arrow-down.svg">
    </div>
  </div>

  <div class="header-user">
    <div class="header-user-message">
      <img class="header-user-message-bell"
           alt="消息"
           src="assets/theme/bell.svg">

      <span class="header-user-message-alert"></span>
    </div>

    <div class="header-user-welcome">
      Hello, <span class="header-user-welcome-name">李大少</span>
    </div>

    <div class="header-user-avatar">
      <img class="header-user-avatar-image"
           alt="头像"
           src="assets/theme/avatar.jpg">

      <div class="header-user-avatar-online">
        <img class="header-user-avatar-online-check"
             alt="在线"
             src="assets/theme/check.svg">
      </div>
    </div>

    <button class="header-new-project">
      New project
      <img class="button-icon-plus"
           alt="添加"
           src="assets/theme/icon-plus.svg">
    </button>
  </div>
</header>

<aside class="sidebar">
  <span class="sidebar-nav active">
    <img alt="导航"
         src="assets/theme/sidebar-data.svg" />
  </span>

  <span class="sidebar-nav">
    <img alt="导航"
         src="assets/theme/sidebar-link.svg" />
  </span>

  <span class="sidebar-nav">
    <img alt="导航"
         src="assets/theme/sidebar-barchart.svg" />
  </span>

  <span class="sidebar-nav">
    <img alt="导航"
         src="assets/theme/sidebar-file.svg" />
  </span>

  <div class="sidebar-toggle">
    <div class="sidebar-toggle-knob"></div>
  </div>
</aside>

<main class="container">
  <div class="overview">
    <header>
      <h2 class="overview-title">Views overview</h2>
      <h3 class="overview-subtitle">All platform data volume</h3>
    </header>

    <div class="overview-filter">
      <div class="overview-input">
        <input type="text"
               placeholder="Enter Keyword">

        <img class="overview-input-icon"
             alt="图标"
             src="assets/theme/icon-tags.svg">
      </div>

      <div class="overview-input">
        <input type="text"
               placeholder="From">

        <img class="overview-input-icon"
             alt="图标"
             src="assets/theme/icon-calendar.svg">
      </div>

      <div class="overview-input">
        <input type="text"
               placeholder="To">

        <img class="overview-input-icon"
             alt="图标"
             src="assets/theme/icon-calendar.svg">
      </div>

      <button class="primary">Start searching</button>
    </div>
  </div>

  <div class="charts">
    <header class="charts-header">
      <h2 class="charts-header-title">Program traffic tracking</h2>

      <div class="charts-header-refresh">
        Refresh
        <button class="icon">
          <img alt="图标"
               src="assets/theme/icon-refresh.svg">
        </button>
      </div>
    </header>

    <div class="charts-container">
      <div class="chart-panel">
        <header class="chart-header">Share times</header>

        <div class="chart-sub">
          <div class="chart-sub-item">
            Ring ratio

            <img alt="减少"
                 src="assets/theme/number-reduce.svg">

            <span class="chart-sub-decrease">60.59%</span>
          </div>

          <div class="chart-sub-item">
            Year on year

            <img alt="减少"
                 src="assets/theme/number-reduce.svg">

            <span class="chart-sub-decrease">58.93%</span>
          </div>
        </div>

        <div class="chart-main">
          <div class="chart-summary">
            <div class="chart-summary-title">Today</div>
            <div class="chart-summary-number highlight">32,021</div>
          </div>

          <div class="chart-graph"></div>
        </div>
      </div>

      <div class="chart-panel">
        <header class="chart-header">Registration success</header>

        <div class="chart-sub">
          <div class="chart-sub-item">
            Ring ratio

            <img alt="减少"
                 src="assets/theme/number-reduce.svg">

            <span class="chart-sub-decrease">60%</span>
          </div>

          <div class="chart-sub-item">
            Year on year

            <img alt="减少"
                 src="assets/theme/number-reduce.svg">

            <span class="chart-sub-decrease">68.63%</span>
          </div>
        </div>

        <div class="chart-main">
          <div class="chart-summary">
            <div class="chart-summary-title">Today</div>
            <div class="chart-summary-number success">429</div>
          </div>

          <div class="chart-graph"></div>
        </div>
      </div>

      <div class="chart-panel">
        <header class="chart-header">Sharing success rate</header>

        <div class="chart-sub">
          <div class="chart-sub-item">
            Ring ratio

            <img alt="减少"
                 src="assets/theme/number-reduce.svg">

            <span class="chart-sub-decrease">60%</span>
          </div>

          <div class="chart-sub-item">
            Year on year

            <img alt="增加"
                 src="assets/theme/number-increase.svg">

            <span class="chart-panel-sub-increase">68.63%</span>
          </div>
        </div>

        <div class="chart-main">
          <div class="chart-summary">
            <div class="chart-summary-title">Today</div>
            <div class="chart-summary-number primary">100%</div>
          </div>

          <div class="chart-graph"></div>
        </div>
      </div>

      <div class="chart-panel">
        <header class="chart-header">
          Channel user sharing level

          <div class="switch">
            Title
            <img class="switch-arrow-down"
                 alt="向下"
                 src="assets/theme/arrow-down.svg">
          </div>
        </header>

        <div class="chart-sub">2019-06-13 ~ 2019-06-19 | Last 7 days</div>

        <div class="chart-main">
          <div class="chart-table">
            <table>
              <thead>
                <tr>
                  <th>Campaign source</th>
                  <th>Level</th>
                  <th>Total</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>H5 orientation page</td>
                  <td>4</td>
                  <td>405</td>
                </tr>

                <tr>
                  <td>Small program code</td>
                  <td>4</td>
                  <td>400</td>
                </tr>

                <tr>
                  <td>H5 orientation page</td>
                  <td>3</td>
                  <td>391</td>
                </tr>

                <tr>
                  <td>Small program code</td>
                  <td>2</td>
                  <td>378</td>
                </tr>

                <tr>
                  <td>H5 orientation page</td>
                  <td>1</td>
                  <td>352</td>
                </tr>

                <tr>
                  <td>Small program code</td>
                  <td>1</td>
                  <td>312</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="chart-panel chart-panel-5">
        <header class="chart-header">
          Channel users stay 7 days

          <div class="text-toggle">
            <span class="text-toggle-item active">Variety</span>
            <span class="text-toggle-item">Trend</span>
          </div>
        </header>

        <div class="chart-sub">2019-06-13 ~ 2019-06-19 | Last 7 days</div>

        <div class="chart-main">
          <div class="chart-graph"></div>
        </div>
      </div>
    </div>
  </div>
</main>
