<header class="page-header">羚号工厂质量部门分析</header>

<div class="container">
  <div class="section-group left">
    <div class="section-common check-background"></div>
    <div class="section-common check-background"></div>
    <div class="section-common check-background"></div>
  </div>

  <div class="section-group center">
    <div class="section-main">
      <div class="section-main-label">生产总数</div>
      <div class="section-main-value">
        <div class="section-main-number">10,000,000</div>
        <small>件</small>
      </div>
    </div>

    <div class="section-common"></div>
    <div class="section-common"></div>
    <div class="section-common"></div>
    <div class="section-common"></div>
  </div>

  <div class="section-group right">
    <div class="section-common check-background"></div>
    <div class="section-common check-background"></div>
    <div class="section-common check-background"></div>
  </div>
</div>
