<div class="column left-column">
  <div class="panel panel-top"></div>
</div>

<div class="column right-column">
  <div class="panel panel-top"></div>

  <div class="panel panel-chat">
    <div class="chat-box">
      <div class="chat-item">
        <img src="assets/avatar.jpg"
             alt="头像"
             class="chat-avatar">

        <div class="chat-content">
          <div class="chat-info">Amy | 05 May 08:37:56</div>
          <div class="chat-message">Hello Colin.</div>
        </div>
      </div>

      <div class="chat-item chat-me">
        <div class="chat-content">
          <div class="chat-info">Sergei | 05 May 08:42:18</div>
          <div class="chat-message">Please fix my phone</div>
        </div>
      </div>
    </div>

    <div class="chat-input">
      <input placeholder="Message..." />
      <button>Send</button>
    </div>
  </div>
</div>
