<header class="page-header">订单生产分析</header>

<div class="section-total">
  <header class="section-total-header">本季度总销量</header>

  <div class="section-total-amount">188,888.00</div>

  <div class="section-total-chart">
    <div class="section-total-legend">
      <div class="section-total-icon item-1"></div>

      <div class="section-total-value">
        <div class="section-total-label">标题</div>
        <div class="section-total-number">39</div>
      </div>

      <div class="section-total-value">
        <div class="section-total-label">占比</div>
        <div class="section-total-number">57.7%</div>
      </div>
    </div>

    <div class="section-total-legend">
      <div class="section-total-icon item-2"></div>

      <div class="section-total-value">
        <div class="section-total-label">标题</div>
        <div class="section-total-number">16</div>
      </div>

      <div class="section-total-value">
        <div class="section-total-label">占比</div>
        <div class="section-total-number">22.9%</div>
      </div>
    </div>

    <div class="section-total-legend">
      <div class="section-total-icon item-3"></div>

      <div class="section-total-value">
        <div class="section-total-label">标题</div>
        <div class="section-total-number">22</div>
      </div>

      <div class="section-total-value">
        <div class="section-total-label">占比</div>
        <div class="section-total-number">0.9%</div>
      </div>
    </div>

    <div class="section-total-legend">
      <div class="section-total-icon item-4"></div>

      <div class="section-total-value">
        <div class="section-total-label">标题</div>
        <div class="section-total-number">13</div>
      </div>

      <div class="section-total-value">
        <div class="section-total-label">占比</div>
        <div class="section-total-number">18.6%</div>
      </div>
    </div>

    <div #pie
         class="section-total-chart-graph"></div>
  </div>
</div>

<div class="section-common section-left-1 section-order-task">
  <header class="section-common-header">
    <h3>本月订单任务</h3>
  </header>

  <div class="section-order-task-chart">
    <div class="section-order-task-value">
      <div class="section-order-task-number">51</div>
      <div class="section-order-task-label">再制订单</div>
    </div>

    <div class="section-order-task-value" style="--value-less: 17; --animation-delay: .3s">
      <div class="section-order-task-number">34</div>
      <div class="section-order-task-label">完成订单</div>
    </div>

    <div class="section-order-task-value" style="--value-less: 30; --animation-delay: .6s">
      <div class="section-order-task-number">21</div>
      <div class="section-order-task-label">新建订单</div>
    </div>
  </div>
</div>

<div class="section-common section-left-2">
  <header class="section-common-header">
    <h3>本月预交付产品的实际生产统计</h3>
  </header>

  <div class="section-bar-chart">
    <div class="section-bar-legend">
      <div class="section-bar-legend-item item-1">计划产量</div>
      <div class="section-bar-legend-item item-2">完成产量</div>
    </div>

    <div class="section-bar-unit">单位：千万</div>

    <div class="section-bar-chart-y">
      <div class="section-bar-chart-y-value">2000</div>
      <div class="section-bar-chart-y-value">1500</div>
      <div class="section-bar-chart-y-value">1000</div>
      <div class="section-bar-chart-y-value">500</div>
      <div class="section-bar-chart-y-value">0</div>
    </div>

    <div class="section-bar-columns">
      <div *ngFor="let item of barLeftData[0]; let i = index"
           class="section-bar-column-group">
        <div class="section-bar-column-group-bar item-1"
             [style]="{ 'height': item.percent + '%' }"></div>
        <div class="section-bar-column-group-bar item-2"
             [style]="{ 'height': barLeftData[1][i].percent + '%' }"></div>
        <div class="section-bar-column-label">{{item.name}}</div>
      </div>
    </div>
  </div>
</div>

<div class="section-common section-right-1">
  <header class="section-common-header">
    <h3>这里是标题位置</h3>
  </header>

  <div class="section-bar-chart">
    <div class="section-bar-unit">单位：人</div>

    <div class="section-bar-chart-y">
      <div class="section-bar-chart-y-value">2000</div>
      <div class="section-bar-chart-y-value">1500</div>
      <div class="section-bar-chart-y-value">1000</div>
      <div class="section-bar-chart-y-value">500</div>
      <div class="section-bar-chart-y-value">0</div>
    </div>

    <div class="section-bar-columns">
      <div *ngFor="let item of barRightData"
           class="section-bar-column">
        <div class="section-bar-column-bar"
             [style]="{ 'height': item.percent + '%' }">
          <div class="section-bar-column-number">{{item.value}}</div>
        </div>
        <div class="section-bar-column-label">{{item.name}}</div>
      </div>
    </div>
  </div>
</div>

<div class="section-common section-right-2">
  <header class="section-common-header">
    <h3>这里是标题位置</h3>
  </header>

  <div class="section-ball-chart">
    <div class="section-ball-center">
      <div class="section-ball-total">2040<span class="section-ball-label">架</span></div>
      <div class="section-ball-label">机场承载量</div>

      <svg class="section-ball-curve">
        <defs>
          <linearGradient id="point" x1="50%" y1="0%" x2="50%" y2="100%">
            <stop offset="0%" style="stop-color: #25e8ff;stop-opacity:1" />
            <stop offset="100%" style="stop-color: #001f3f;stop-opacity:1" />
          </linearGradient>
        </defs>

        <path [attr.d]="ballCurve.path"
              fill="transparent"
              stroke="#00deff"
              stroke-linecap="round"
              stroke-width="20" />

        <path [attr.d]="ballCurve.path"
              class="section-ball-curve-inner"
              fill="transparent"
              stroke="#0c4aa0"
              stroke-linecap="round"
              stroke-width="12" />

        <circle [attr.cx]="ballCurve.endPoint[0]"
                [attr.cy]="ballCurve.endPoint[1]"
                r="6"
                fill="url(#point)" />
      </svg>

      <div class="section-ball-number"
           [style.left.px]="ballCurve.endPoint[0]"
           [style.top.px]="ballCurve.endPoint[1]">{{ballCurvePercent * 100 | number: ".0-1"}}%</div>
    </div>

    <div class="section-ball-value item-1">1520架<br>正常起飞</div>
    <div class="section-ball-value item-2">2架<br>延误</div>
  </div>
</div>

<div class="section-common section-bottom-1">
  <header class="section-common-header">
    <h3>本月客户订单交付预测</h3>
  </header>

  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>完成进度</th>
        <th>完成产量</th>
        <th>计划产量</th>
        <th>订单数量</th>
        <th>新增订单</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>BorgWarner博格华纳</td>
        <td>
          <div class="progress"
               style="--value: 71%">71%</div>
        </td>
        <td>270</td>
        <td>400</td>
        <td>0.3万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Continental新大陆</td>
        <td>
          <div class="progress"
               style="--value: 80.19%">80.19%</div>
        </td>
        <td>300</td>
        <td>690</td>
        <td>0.5万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Garret盖瑞特</td>
        <td>
          <div class="progress"
               style="--value: 62.87%">62.87%</div>
        </td>
        <td>379</td>
        <td>500</td>
        <td>1.2万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>IHI集团</td>
        <td>
          <div class="progress"
               style="--value: 93.12%">93.12%</div>
        </td>
        <td>200</td>
        <td>340</td>
        <td>6.8万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>富奥石川岛</td>
        <td>
          <div class="progress"
               style="--value: 95.34%">95.34%</div>
        </td>
        <td>1000</td>
        <td>1580</td>
        <td>4.0万</td>
        <td>2</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="section-common section-bottom-2">
  <header class="section-common-header">
    <h3>表格也可以换其他组件</h3>
  </header>

  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>完成进度</th>
        <th>完成产量</th>
        <th>计划产量</th>
        <th>订单数量</th>
        <th>新增订单</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>BorgWarner博格华纳</td>
        <td>
          <div class="progress"
               style="--value: 71%">71%</div>
        </td>
        <td>270</td>
        <td>400</td>
        <td>0.3万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Continental新大陆</td>
        <td>
          <div class="progress"
               style="--value: 80.19%">80.19%</div>
        </td>
        <td>300</td>
        <td>690</td>
        <td>0.5万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Garret盖瑞特</td>
        <td>
          <div class="progress"
               style="--value: 62.87%">62.87%</div>
        </td>
        <td>379</td>
        <td>500</td>
        <td>1.2万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>IHI集团</td>
        <td>
          <div class="progress"
               style="--value: 93.12%">93.12%</div>
        </td>
        <td>200</td>
        <td>340</td>
        <td>6.8万</td>
        <td>1</td>
      </tr>
      <tr>
        <td>富奥石川岛</td>
        <td>
          <div class="progress"
               style="--value: 95.34%">95.34%</div>
        </td>
        <td>1000</td>
        <td>1580</td>
        <td>4.0万</td>
        <td>2</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
