<header class="page-header">
  <select>
    <option>装配线</option>
  </select>

  <h1>产线实时生产看板</h1>
</header>

<div class="time">2023年3月27日 星期一 15:51:03</div>

<div class="tables">
  <div class="table-container table-left">
    <div class="table-header">数据统计</div>

    <div class="table-content stats-container">
      <div class="stats">
        <div class="stat-item">
          <div class="stat-item-header">今日</div>
          <div class="stat-item-header">2023年3月27日</div>
        </div>

        <div class="stat-item">
          <div class="stat-item-header">今日计划产出</div>
          <div class="stat-item-data">1000</div>
        </div>

        <div class="stat-item">
          <div class="stat-item-header">昨日计划产出</div>
          <div class="stat-item-data">13.26%</div>
        </div>
      </div>

      <div class="stats">
        <div class="stat-item">
          <div class="stat-item-header">昨日</div>
          <div class="stat-item-header">2023年3月26日</div>
        </div>

        <div class="stat-item">
          <div class="stat-item-header">昨日实际产出</div>
          <div class="stat-item-data">850</div>
        </div>

        <div class="stat-item">
          <div class="stat-item-header">达成率</div>
          <div class="stat-item-data">13.26%</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container table-right">
    <div class="table-header">昨日差异分析</div>

    <div class="table-content diff-container">
      <table class="diff-table">
        <thead>
        <tr>
          <th>异常发生位置</th>
          <th>物料</th>
          <th>异常状态</th>
          <th class="td-number">响应时长（分）</th>
          <th class="td-number">影响时长（分）</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>镀铝产线A</td>
          <td>质量异常 | 装配过程工艺</td>
          <td><span class="diff-icon diff-pending"></span>待响应 2<img class="diff-arrow" src="./assets/up.png"></td>
          <td class="td-number">940</td>
          <td class="td-number">940</td>
        </tr>
        <tr>
          <td>镀铝产线A</td>
          <td>质量异常 | 装配过程工艺</td>
          <td><span class="diff-icon diff-pending"></span>待响应 2<img class="diff-arrow" src="./assets/down.png"></td>
          <td class="td-number">940</td>
          <td class="td-number">940</td>
        </tr>
        <tr>
          <td>镀铝产线A</td>
          <td>质量异常 | 装配过程工艺</td>
          <td><span class="diff-icon diff-pending"></span>待响应 1<img class="diff-arrow" src="./assets/up.png"></td>
          <td class="td-number">940</td>
          <td class="td-number">940</td>
        </tr>
        <tr>
          <td>镀铝产线A</td>
          <td>质量异常 | 装配过程工艺</td>
          <td><span class="diff-icon diff-pending"></span>待响应 2<img class="diff-arrow" src="./assets/up.png"></td>
          <td class="td-number">940</td>
          <td class="td-number">940</td>
        </tr>
        <tr>
          <td>镀铝产线A</td>
          <td>质量异常 | 装配过程工艺</td>
          <td><span class="diff-icon diff-checked"></span>已签到 2<img class="diff-arrow" src="./assets/up.png"></td>
          <td class="td-number">940</td>
          <td class="td-number">940</td>
        </tr>
        <tr>
          <td>镀铝产线A</td>
          <td>质量异常 | 装配过程工艺</td>
          <td><span class="diff-icon diff-checked"></span>已签到 1<img class="diff-arrow" src="./assets/up.png"></td>
          <td class="td-number">940</td>
          <td class="td-number">940</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="table-container sop-container">
  <div class="table-header">产线 SOP</div>

  <div class="table-content sop-content">
    <div class="stats sop-stats"></div>
  </div>
</div>
